language: java

jdk:
  - openjdk8

before_install:
  - wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.17.5-amd64.deb && sudo dpkg -i --force-confnew elasticsearch-7.17.5-amd64.deb
  - sudo cp ./src/test/resources/elasticsearch.yml /etc/elasticsearch/elasticsearch.yml
  - sudo cat /etc/elasticsearch/elasticsearch.yml
  - sudo java -version
  - sudo chown -R elasticsearch:elasticsearch /etc/default/elasticsearch
  - sudo service elasticsearch start
  - sleep 30

install:
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -Dgpg.skip=true

script:
  - ulimit -a
  - mvn test
