language: java

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - oracle-java8-installer

addons:
  apt:
    packages:
      - oracle-java8-installer

before_install:
  # update to java 8
  - sudo update-java-alternatives -s java-8-oracle
  - export JAVA_HOME=/usr/lib/jvm/java-8-oracle
  - wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.6.1.deb && sudo dpkg -i --force-confnew elasticsearch-5.6.1.deb
  - sudo cp ./src/test/resources/elasticsearch.yml /etc/elasticsearch/elasticsearch.yml
  - sudo cat /etc/elasticsearch/elasticsearch.yml
  - sudo java -version
  - sudo service elasticsearch start
  - sleep 30

install:
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -Dgpg.skip=true

script:
  - ulimit -a
  - mvn test
